<h3>{{name}}</h3>
<h5>Members</h5>
{{#each members}}
  {{username}}
{{/each}}
<br>
{{#if pendingMembers}}
  <h5>Pending members</h5>
  {{#each pendingMembers}}
    {{username}}
  {{/each}}
{{/if}}
{{#if isAdmin}}
  {{#if showMemberForm}}
    {{partial 'teams/membersForm'}}
    <button {{action 'cancel' this}} class='btn btn-warning'>Cancel</button>
  {{else}}
    <button {{action 'addMembers' this}} class='btn btn-default'><span class="glyphicon glyphicon-plus"></span> Add Members</button>
  {{/if}}
{{/if}}
