<div class='page-header'>
  <h1>{{title}} <small>for {{date}}</small></h1>
</div>
<p class='lead'>{{body}}</p>
<dl>
<dt>Tags:</dt>
<dd>
{{#each tags}}
  <button class='btn btn-default'>{{name}}</button>
{{else}}
  <p>There are no tags for this MIT</p>
{{/each}}
</dd>
<dt>Actions:</dt>
{{#if canEdit}}
  {{#link-to 'mits.edit' this classNames='btn btn-primary'}}Edit{{/link-to}}
{{/if}}
{{#if isOwner}}
  {{#unless complete}}
    <button class='btn btn-success' {{action complete this}}>Complete</button>
  {{/unless}}
  <button class='btn' {{action destroyRecord this}}>Delete</button>
{{/if}}
</dl>
{{outlet}}
<h3>Comments:</h3>
{{#each cleanComments}}
<div class="panel panel-success">
  <div class="panel-heading">{{user.username}} commented {{timeAgo createdAt}}</div>
  <div class="panel-body">
    {{body}}
  </div>
</div>
{{else}}
<h5>There are currently no comments. {{#link-to 'comment.new' this}}Create one{{/link-to}}</h5>
{{/each}}
{{#link-to 'comment.new' this classNames='btn btn-default'}}<span class="glyphicon glyphicon-plus"></span> Comment{{/link-to}}
